@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #04050f;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Helvetica, sans-serif;
}

.card:hover {
  transition: all 200ms ease-in-out;
  transform: scale(1.05);
}

.scrollAnimation {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: rotateX(-16deg) rotate(16deg) skewX(-16deg) translateZ(0)
      translateY(0%);
  }
  to {
    transform: rotateX(-16deg) rotate(16deg) skewX(-16deg) translateZ(0)
      translateY(-100%);
  }
}
