@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #131523;
  --foreground: #edeff8;

  --nav-height: 60px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Helvetica, sans-serif;
}

.card {
  transition: all 200ms ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.logo-animation {
  animation: logo-keyframes 1s ease-in-out forwards;
}

.scrollAnimation {
  animation: scroll-keyframes 60s linear infinite;
}

.fadeAnimation {
  animation: fade-keyframes 60s linear infinite;
}

@keyframes scroll-keyframes {
  from {
    transform: rotateX(18deg) rotate(18deg) skewX(-18deg) translateZ(0)
      translateY(-30%);
  }
  to {
    transform: rotateX(18deg) rotate(18deg) skewX(-18deg) translateZ(0)
      translateY(-150%);
  }
}

@keyframes fade-keyframes {
  0% {
    background-color: var(--background);
  }
  2% {
    background-color: transparent;
  }
  98% {
    background-color: transparent;
  }
  100% {
    background-color: var(--background);
  }
}

@keyframes logo-keyframes {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
